@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .inter-fonts {
    font-family: var(--inter-fonts);
  }
  .leading-11 {
    line-height: 2.7rem;
  }
  .leading-12 {
    line-height: 3rem;
  }
  .leading-13 {
    line-height: 3.4rem;
  }
  .leading-14 {
    line-height: 3.8rem;
  }
  .leading-15 {
    line-height: 4rem;
  }
  .blue-link {
    color: rgb(0, 166, 255);
  }
  .blur-2xl {
    filter: blur(70px);
  }
  .blur-3xl {
    filter: blur(80px);
  }
  .blur-4xl {
    filter: blur(90px);
  }
  .blur-5xl {
    filter: blur(100px);
  }

  .h3 {
    font-weight: 700;
    font-size: 1.25rem;
    padding: 5px 0;
    line-height: 1.2rem;
  }
  .h1 {
    font-size: 3.052rem;
    font-weight: 800;
    letter-spacing: -0.025em;
    line-height: 3rem;
  }

  .primary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 10px 20px;
    font-weight: 600;
    width: fit-content;
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 10px;
    transition: 0.2s ease all;
    &:hover {
      filter: brightness(90%);
    }
  }
  .secondary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 10px 20px;
    font-weight: 600;
    width: fit-content;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 10px;
    transition: 0.2s ease all;
    &:hover {
      background-color: rgba(255, 255, 255, 0.064);
    }
  }

  .step1 {
    background-color: rgba(5, 0, 8, 0.227);
    border: 1px solid hsla(0, 0%, 100%, 0.05);
    background-position: 50% 50%;
    background-size: 1.1rem 1.1rem;
    position: relative;
    background-image: radial-gradient(
      hsla(0, 0%, 100%, 0.1) 1px,
      transparent 0
    );
    max-width: 100%;
    height: auto;
  }
  .step1-bg {
    background-color: #080808;
    border: 1px solid hsla(0, 0%, 100%, 0.05);
    background-position: 50% 50%;
    background-size: 1.1rem 1.1rem;
    position: relative;
    background-image: radial-gradient(
      hsla(0, 0%, 100%, 0.1) 1px,
      transparent 0
    );
    max-width: 100%;
    height: auto;
  }
}
.corner-border {
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  border-left: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 10px;
  box-shadow: #1010102f 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.796) 0px 18px 36px -18px inset;
}

@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=beVietnam-pro@500,600,700,800&display=swap");

:root {
  --heading-fonts: "Be Vietnam Pro", sans-serif;
  color-scheme: dark;
  --background-color: #000;
  --code-background-color: rgba(255, 255, 255, 0.057);
  --text-color: #fff;
  --inter-fonts: "Geist", "Inter", sans-serif;
  --purple-color: rgb(128, 89, 255);
}

@font-face {
  font-family: "Geist";
  src: url(./GeistVF.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 15px;
  letter-spacing: -0.01px;
}

body,
html {
  font-family: var(--inter-fonts);
  color: var(--text-color);
  background-color: var(--background-color);
  overflow-x: hidden;
}

pre,
code {
  overflow-x: auto;
  font-size: 16px !important;
  font-family: "Fira Mono";
  background: transparent !important;
}

pre::-webkit-scrollbar {
  background: transparent;
  height: 3px;
}

pre::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.551);
  border-radius: 5px;
}

pre {
  overflow-x: auto;
  background: #23232331 !important;
  border: 1px solid rgba(255, 255, 255, 0.064);
  border-top: none;
  padding: 16px;
  margin: -1px 0 20px 0 !important;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
}
div::-webkit-scrollbar {
  background: black;
  width: 5px;
  height: 5px;
}
div::-webkit-scrollbar-thumb {
  border-radius: 10rem;
  background-color: #18181b;
}
.codeblock-header {
  display: flex;
  align-items: center;
  overflow-x: auto;
  background: #23232331;
  border: 1px solid rgba(255, 255, 255, 0.064);
  padding: 16px;
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
}

td,
th {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

code {
  border-radius: 7px;
}

.component-card,
.preview-container,
.codeblock-header,
table,
pre {
  max-width: 60dvw;
  z-index: 2 !important;
  min-width: 60dvw;
}

@media screen and (max-width: 900px) {
  .component-card,
  .preview-container,
  .codeblock-header,
  table,
  pre {
    max-width: 90dvw;
    z-index: 2 !important;
  }
}

.copy-to-clipboard-button {
  padding: 5px;
  border-radius: 3px;
  transition: all ease 0.2s;
  &:hover {
    background-color: rgba(255, 255, 255, 0.105);
  }
}

.docs-sidebar {
  background-color: black;
  z-index: 99999;
  transform: translateX(0rem);
  @media screen and (max-width: 900px) {
    transform: translateX(-60rem);
  }
  &::-webkit-scrollbar {
    background: black;
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10rem;
    background-color: #18181b;
  }
}
.docs-sidebar.open {
  transform: translate(0);
}

.footer-div {
  width: calc(100% - 16rem);
  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

h1,
h2 {
  font-family: var(--heading-fonts);
  font-weight: bold;
  letter-spacing: -0.01em;
}

.bento-col {
  background: #13121436;
  top: 0;
  transition: all 0.2s ease;
  margin: -45px !important;
}

.hero-demo {
  max-height: 15rem;
  max-width: 99%;
  overflow: hidden;
  margin: 40px 0;
}
.react-tweet-theme {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left !important;
  padding: 1rem;
  .tweet-container_article__0ERPK {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .tweet-header_authorFollow__w_j4h {
    display: none !important;
  }
  .tweet-actions_actions__UDw7H {
    display: none;
  }
  .tweet-replies_replies__PUxl8 {
    display: none;
  }
  .tweet-info_info__ll_kH {
    display: none;
  }
}

.features-bento {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "bento-1 bento-1"
    "bento-2 bento-3";
  @media screen and (max-width: 620px) {
    grid-template-areas:
      "bento-1 bento-1"
      "bento-2 bento-2"
      "bento-3 bento-3";
  }
}

.feature-bento-1 {
  grid-area: bento-1;
  @media screen and (max-width: 800px) {
    flex-direction: column-reverse;
  }
}
.feature-bento-2 {
  grid-area: bento-2;
}
.feature-bento-3 {
  grid-area: bento-3;
}

.code-block.collapsed {
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 60%,
    transparent 100%
  );
}
.hero {
  position: relative;
  z-index: 999;

  &::before {
    z-index: 1;
    top: 0rem;
    left: -2rem;
    content: "";
    position: absolute;
    width: 40rem;
    height: 40rem;
    background: linear-gradient(rgb(157, 0, 255) 30%, rgb(133, 0, 126));
    opacity: 70%;
    filter: blur(150px);
    @media screen and (max-width: 730px) {
      opacity: 50%;
    }
  }
  &::after {
    filter: blur(100px);
    z-index: 1;
    top: 0rem;
    left: 10rem;
    border-radius: 100%;
    content: "";
    position: absolute;
    width: 40rem;
    height: 40rem;
    background: black;
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.6s ease-out;
}

.grid-lines {
  --s: 100px;
  --t: 2px;
  --h: 15;
  background: conic-gradient(
      from 90deg at var(--t) var(--t),
      #0000 25%,
      #5562706f 0
    )
    0 0 / var(--s) var(--s);
  width: calc(round(down, 100%, var(--s)) + var(--t));
  height: calc(var(--h) * var(--s) + var(--t));
}
.grid-lines::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 90%;
  background: conic-gradient(
      from 90deg at var(--t) var(--t),
      #0000 25%,
      var(--purple-color) 0,
      transparent
    )
    0 0 / var(--s);
  animation: flow 5s linear infinite;
}

@keyframes flow {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@supports not (opacity: round(1, 1)) {
  .grid-lines {
    max-width: 100%;
    width: 100%;
  }
}

.fading-out {
  mask-image: linear-gradient(to bottom, transparent, white, transparent 80%);
}

.fading-out-2 {
  mask-image: linear-gradient(to bottom, white 70%, transparent 100%);
}

.pricing-card {
  position: relative;
  &::before {
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    position: absolute;
    mask-image: linear-gradient(to top, rgb(0, 0, 0) 0%, transparent 100%);
    opacity: 5%;
    background: conic-gradient(at 10% 50%, #0000 75%, #f0f0f0 0),
      conic-gradient(at 10% 50%, #0000 75%, #f0f0f0 0) calc(1 * 20px)
        calc(3 * 20px),
      conic-gradient(at 10% 50%, #0000 75%, #f0f0f0 0) calc(2 * 20px)
        calc(1 * 20px),
      conic-gradient(at 10% 50%, #0000 75%, #f0f0f0 0) calc(3 * 20px)
        calc(4 * 20px),
      conic-gradient(at 10% 50%, #0000 75%, #f0f0f0 0) calc(4 * 20px)
        calc(2 * 20px),
      conic-gradient(at 50% 10%, #0000 75%, #f0f0f0 0) 0 calc(4 * 20px),
      conic-gradient(at 50% 10%, #0000 75%, #f0f0f0 0) calc(1 * 20px)
        calc(2 * 20px),
      conic-gradient(at 50% 10%, #0000 75%, #f0f0f0 0) calc(2 * 20px) 0,
      conic-gradient(at 50% 10%, #0000 75%, #f0f0f0 0) calc(3 * 20px)
        calc(3 * 20px),
      conic-gradient(at 50% 10%, #0000 75%, #f0f0f0 0) calc(4 * 20px)
        calc(1 * 20px),
      rgba(71, 212, 255, 0);
    background-size: 100px 100px;
  }
}

// testimonials

.testimonial-wrapper {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 300px;
  margin-top: 5rem;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -420px;
  }
}

.testimonial-item {
  position: absolute;
  width: 420px;
  height: 300px;
  left: max(calc(420px * 7), 100%);
  animation-name: scrollLeft;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.item1 {
  animation-delay: calc(40s / 7 * (7 - 1) * -1);
}

.item2 {
  animation-delay: calc(40s / 7 * (7 - 2) * -1);
}

.item3 {
  animation-delay: calc(40s / 7 * (7 - 3) * -1);
}

.item4 {
  animation-delay: calc(40s / 7 * (7 - 4) * -1);
}

.item5 {
  animation-delay: calc(40s / 7 * (7 - 5) * -1);
}

.item6 {
  animation-delay: calc(40s / 7 * (7 - 6) * -1);
}

.item7 {
  animation-delay: calc(40s / 7 * (7 - 7) * -1);
}
