@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .inter-fonts {
    font-family: var(--inter-fonts);
  }
  .leading-11 {
    line-height: 2.7rem;
  }
  .leading-12 {
    line-height: 3rem;
  }
  .leading-13 {
    line-height: 3.4rem;
  }
  .leading-14 {
    line-height: 3.8rem;
  }
  .leading-15 {
    line-height: 4rem;
  }
  .blue-link {
    color: rgb(0, 166, 255);
  }
  .blur-2xl {
    filter: blur(70px);
  }
  .blur-3xl {
    filter: blur(80px);
  }
  .blur-4xl {
    filter: blur(90px);
  }
  .blur-5xl {
    filter: blur(100px);
  }

  .h3 {
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: -1px;
    padding: 5px 0;
    line-height: 1.2rem;
  }
  .h1 {
    font-size: 3.052rem;
    font-weight: 800;
    letter-spacing: -0.025em;
    line-height: 3rem;
  }

  .primary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 10px 20px;
    font-weight: 600;
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 10px;
    transition: 0.2s ease all;
    &:hover {
      filter: brightness(90%);
    }
  }
  .secondary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 10px 20px;
    font-weight: 600;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 10px;
    transition: 0.2s ease all;
    &:hover {
      background-color: rgba(255, 255, 255, 0.064);
    }
  }

  .step1 {
    background-color: rgba(5, 0, 8, 0.227);
    border: 1px solid hsla(0, 0%, 100%, 0.05);
    background-position: 50% 50%;
    background-size: 1.1rem 1.1rem;
    position: relative;
    background-image: radial-gradient(
      hsla(0, 0%, 100%, 0.1) 1px,
      transparent 0
    );
    max-width: 100%;
    height: auto;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  color-scheme: dark;
  --background-color: #000;
  --code-background-color: rgba(255, 255, 255, 0.057);
  --text-color: #fff;
  --inter-fonts: "Inter", sans-serif;
  --code-fonts: "JetBrains Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: var(--inter-fonts);
  color: var(--text-color);
  background-color: var(--background-color);
  overflow-x: hidden;
}
pre,
code {
  overflow-x: auto;
  font-size: 14px !important;
}

code::-webkit-scrollbar {
  background: transparent;
  height: 3px;
}

code::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
}

pre {
  overflow-x: auto;
  background: #23232331;
  border: 1px solid rgba(255, 255, 255, 0.064);
  padding: 16px;
  margin: 10px 0;
  max-width: calc(90vw - 10rem);
  min-width: calc(80vw - 10rem);
  border-radius: 10px;
  width: 100%;
  font-size: 13pt;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
  font-family: var(--code-fonts) !important;
}

table {
  border-radius: 16px !important;
  td {
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  th {
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}

code {
  font-family: var(--code-fonts) !important;
  border-radius: 7px;
  font-size: 17px;
}

@media screen and (max-width: 640px) {
  pre {
    max-width: 80vw;
    min-width: 70vw;
  }
}

.preview-container {
  max-width: calc(90vw - 10rem);
  min-width: calc(80vw - 10rem);
  width: 100%;
}

@media screen and (max-width: 640px) {
  .preview-container {
    max-width: 80vw;
    min-width: 70vw;
  }
}

table {
  max-width: calc(90vw - 10rem);
  min-width: calc(80vw - 10rem);
  width: 100%;
}

@media screen and (max-width: 640px) {
  table {
    max-width: 80vw;
    min-width: 70vw;
  }
}

.component-card {
  max-width: calc(90vw - 10rem);
  min-width: calc(80vw - 10rem);
  width: 100%;
}

@media screen and (max-width: 640px) {
  .component-card {
    max-width: 80vw;
    min-width: 70vw;
  }
}

.copy-to-clipboard-button {
  padding: 5px;
  border-radius: 3px;
  transition: all ease 0.2s;
  &:hover {
    background-color: rgba(255, 255, 255, 0.105);
  }
}

.sidebar.fixed {
  position: fixed;
  top: 0;
}

.footer-div {
  width: calc(100% - 16rem);
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}
