@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .inter-fonts {
    font-family: var(--inter-fonts);
  }
  .leading-11 {
    line-height: 2.7rem;
  }
  .leading-12 {
    line-height: 3rem;
  }
  .leading-13 {
    line-height: 3.4rem;
  }
  .leading-14 {
    line-height: 3.8rem;
  }
  .leading-15 {
    line-height: 4rem;
  }
  .blue-link {
    color: rgb(0, 166, 255);
  }
  .blur-2xl {
    filter: blur(70px);
  }
  .blur-3xl {
    filter: blur(80px);
  }
  .blur-4xl {
    filter: blur(90px);
  }
  .blur-5xl {
    filter: blur(100px);
  }
  .primary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 10px 20px;
    font-weight: 600;
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 10px;
    transition: 0.2s ease all;
    &:hover {
      filter: brightness(90%);
    }
  }
  .secondary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 10px 20px;
    font-weight: 600;
    border: 1px solid rgba(255, 255, 255, 0.215);
    color: white;
    border-radius: 10px;
    transition: 0.2s ease all;
    &:hover {
      background-color: rgba(255, 255, 255, 0.064);
    }
  }

  .step1 {
    background-color: rgba(5, 0, 8, 0.227);
    border: 1px solid hsla(0, 0%, 100%, 0.05);
    background-position: 50% 50%;
    background-size: 1.1rem 1.1rem;
    position: relative;
    background-image: radial-gradient(
      hsla(0, 0%, 100%, 0.1) 1px,
      transparent 0
    );
    max-width: 100%;
    height: auto;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wdth,wght@12..96,75..100,200..800&family=Inter:wght@100..900&display=swap");

:root {
  --background-color: #000;
  --text-color: #fff;
  --inter-fonts: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: var(--inter-fonts);
  color: var(--text-color);
  background-color: var(--background-color);
  overflow-x: hidden;
}
